/* css variables*/
:root {
	--primary-color: #432E30;
	--primary-color-light: #8E7474;
	--accent-color: #FE6A6B;
	--accent-color-light: #FFE4E4;
	--accent-color-dark: #B94B4C;
	--white-color: #FAFBFC;
	--light-gray-color: #C6CBD1;
	--medium-gray-color: #959DA5;
	--dark-gray-color: #444D56;
	--bg-color: #F8F8FA;
	--code-bg-color: #F0E8E8;
	--scrollbar-bg: rgb(201 201 201);
	--scrollbar-thumb: rgb(133 133 133);
}

/* Scrollbar */
*::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid var(--scrollbar-bg);  /* creates padding around scroll thumb */
}


/* normalized */
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	background-color: white;
}

p {
	font-weight: 300;
	color: #4A4A4A;
}

a,
a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

a {
	color: var(--accent-color);
}

hr {
	padding: 1rem 0;
	border: 0;
	border-bottom: 1px solid var(--bg-color);
}

* {
	box-sizing: border-box;
}

/* global components */

/* typography */
.section__title {
	color: var(--primary-color);
}

/* tabs */
.tab__container {
	position: relative;
}

.tab__container>ul {
	position: absolute;
	list-style: none;
	margin: 0;
	right: 1rem;
	top: -2rem;
	padding-left: 0;
}

.tab__container .code {
	white-space: normal;
	padding: 1rem 1.5rem;
}

.tab {
	display: inline-block;
	padding: 0.3rem 0.5rem;
	font-weight: 200;
	cursor: pointer;
}

.tab.active {
	border-bottom: 1px solid var(--primary-color);
	font-weight: 700;
	display: inline-block;
}

.tab__pane {
	display: none;
}

.tab__pane.active {
	display: block;
}

/* code */
.code {
	border-radius: 3px;
	font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	background: var(--bg-color);
	border: 1px solid var(--code-bg-color);
	color: var(--primary-color-light);
}

.code--block {
	white-space: pre-line;
	/* padding: 0 1.5rem; */
}

.code--block * {
	background-color: unset;
}

.code--inline {
	padding: 3px 6px;
	font-size: 80%;
}

/* buttons */
.button--primary {
	padding: 10px 22px;
	background-color: var(--accent-color);
	color: white;
	position: relative;
	text-decoration: none;
	border: 0;
	transition: all .3s ease-out;
}

.button--primary:after {
	position: absolute;
	content: "";
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-color-light);
	right: -0.4rem;
	top: -0.4rem;
	transition: all 0.3s ease-out;
}

.button--primary:hover {
	text-shadow: 0px 1px 1px var(--accent-color-dark);
	color: white;
	transform: translate3D(0, -3px, 0);
}

.button--primary:hover::after {
	transform: rotate(90deg);
}

.button--secondary {
	padding: 10px 22px;
	border: 2px solid var(--primary-color);
	transition: all 0.5s ease-out;
}

.button--secondary:hover {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

/* links */
.link {
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.link:hover {
	color: var(--accent-color);
}

.link--dark {
	color: var(--primary-color);
}

.link--light {
	color: var(--accent-color);
}

/* menu */
nav {
	display: grid;
	grid-template-columns: 70px auto;
}

.menu {
	margin: 0;
	text-align: right;
	overflow: hidden;
	list-style: none;
}

.toggle {
	display: none;
	position: relative;
}

.toggle span,
.toggle span:before,
.toggle span:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 18px;
	border-radius: 2px;
	background: var(--primary-color);
	display: block;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	right: 0;
}

.toggle span:before {
	top: -6px;
}

.toggle span:after {
	bottom: -6px;
}

.toggle.open span {
	background-color: transparent;
}

.toggle.open span:before,
.toggle.open span:after {
	top: 0;
}

.toggle.open span:before {
	transform: rotate(45deg);
}

.toggle.open span:after {
	transform: rotate(-45deg);
}

.menu__item {
	padding: 1rem;
	display: inline-block;
}

.menu__item.toggle {
	display: none;
}

/* table */
table {
	border-collapse: collapse;
	width: 100%;
	transition: color .3s ease-out;
	margin-bottom: 2rem;
}

table td,
table th {
	border: 1px solid var(--code-bg-color);
	padding: 0.8rem;
	font-weight: 300;
}

table th {
	text-align: left;
	background-color: white;
	border-color: white;
	border-bottom-color: var(--code-bg-color);
}

table td:first-child {
	background-color: var(--bg-color);
	font-weight: 600;
}

@media screen and (max-width: 600px) {
	nav {
		grid-template-columns: 70px auto;
	}

	.menu__item {
		display: none;
	}

	.menu__item.toggle {
		display: inline-block;
	}

	.menu {
		text-align: right;
		padding: 0.5rem 1rem;
	}

	.toggle {
		display: block;
	}

	.menu.responsive .menu__item:not(:first-child) {
		display: block;
		padding: 0 0 0.5rem 0;
	}
}

/* layout */
.wrapper {
	margin: 0 auto;
	width: 70%;
}

.footer {
	text-align: center;
	background-color: var(--primary-color);
	padding: 2rem;
	color: white;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 30px, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* Alerts */

.alert h3 { 
	font-family: Nunito, "Segoe UI", Arial, sans-serif;
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 15.4px; 
}

.alert {
	margin: 20px;
	/* padding: 15px; */
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 15px 5px #ccc;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: left;
}

.icon {
	width: 48px;
	align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.info-alert {
	background-color: rgba(245,247,249,1.00);
	border-left: 5px solid rgba(52,109,219,1.00);
}

.info-alert .icon {
	border-color: rgba(52,109,219,1.00);
	color: rgba(52,109,219,1.00);
}

.info-alert {
	background-color: rgba(245,247,249,1.00);
	border-left: 5px solid rgba(52,109,219,1.00);
}

.success-alert {
	background-color: rgba(245,247,249,1.00);
	border-left: 5px solid #178344;
}

.success-alert .icon {
	border-color: #178344;
	color: #178344;
}

.danger-alert {
	background-color: rgba(245,247,249,1.00);
	border-left: 5px solid #8f130c;
}

.danger-alert .icon {
	border-color: #8f130c;
	color: #8f130c;
}

.warning-alert {
	background-color: rgba(245,247,249,1.00);
	border-left: 5px solid #ffd100;
}

.warning-alert .icon {
	border-color: #ffd100;
	color: #ffd100;
}

/* Miscellaneous */

.padl-1 {
	padding-left: 5px;
}

.padl-2 {
	padding-left: 10px;
}

.padl-3 {
	padding-left: 15px;
}

.padl-4 {
	padding-left: 20px;
}











.accordion {
	width: 100%;
	/* max-width: 500px; */
	overflow: hidden;
	margin-top: 20px;
	/* background-color: #2c3e50; */
}

.accordion__btn {
	position: relative;
	padding: 20px;
	cursor: pointer;
}

.accordion__content {
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	will-change: max-height;
	transition: all 0.25s ease-out;
	/* color: #f1f1f1; */
	opacity: 0;
}

.accordion h4,
  .accordion p {
	margin: 0;
	line-height: 1;
}

/* .accordion h4 {
	/* color: #fff; * /
	font-size: 26px;
	font-weight: 500;
} */

.accordion p {
	/* color: #f1f1f1; */
	font-size: 15px;
	margin: 0;
}

.accordion__active .accordion__content {
	padding: 0 20px 20px;
	opacity: 1;
}

.accordion__icon {
	transition: all 0.25s ease-out;
}



.dropbtn {
	background-color: #acacac;
	color: white;
	padding: 5px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: unset;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #444444;
}